VBox {
    -fx-background-color: white;
}

.text-area,
VBox .label,
VBox .text,
.radio-button {
    -fx-text-fill: #272727;
}

.text-area .content {
    -fx-background-color: rgb(255, 247, 255);
}

.button {
    -fx-background-color: #45c8ff;
    -fx-text-fill: white;
}

.button:pressed {
    -fx-effect: innershadow(three-pass-box, rgba(77, 76, 77, 0.31), 10, 0.3, 0, 0);
}

.button:hover {
    -fx-background-color: rgb(104, 218, 255);
}

.context-menu {
    -fx-background-color: white;
    -fx-border-color: #646464;
}

.split-pane:horizontal > .split-pane-divider,
.split-pane:vertical > .split-pane-divider {
    -fx-background-color: rgba(0, 0, 0, 0.10);
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-border-radius: 2.0em;
}

.corner {
    -fx-background-color: transparent ;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-fill: #373637;
    -fx-shape: " ";
    -fx-padding: 0.10em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-fill: #373637;
    -fx-shape: " ";
    -fx-padding: 0.0 0.10em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #e36b8f;
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: rgba(227, 107, 143, 0.7);
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.tree-cell:selected,
.tree-cell:expanded > .tree-disclosure-node > .arrow {
    -fx-background-color: #45c8ff;
}

.tree-cell {
    -fx-background-color: rgb(255, 247, 255);
    -fx-text-fill: #232323;
}

.tree-cell > .tree-disclosure-node > .arrow  {
    -fx-background-color: #818181;
}

.tree-cell:selected > .tree-disclosure-node > .arrow {
    -fx-background-color: white;
}

.tree-view {
    -fx-border-color: #eaeaea;
    -fx-background-color:transparent;
}

.folder-selection-container {
    -fx-background-color: white;
}